<header>
    <nav class="navbar navbar-expand-lg container-fullwidth col-xs-12 mb-5">
      <div class="container">
        
        <a class="navbar-brand" href="#" routerLink="/">
          <img src="assets/img/logo-header.svg" alt="Stager logo" class="stager-branding">
        </a>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/organizers" routerLinkActive="active">Organizers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/sales" routerLinkActive="active">Sales</a>
          </li>
        </ul>

      </div>
    </nav>
  </header>