<div class="alert alert-danger animated fadeIn" *ngFor="let inputError of inputErrors">{{ inputError }}</div>

<div class="row animated fadeIn">
    <div class="col-md-6">
        <h1 class="mb-3 text-center">Search event sales</h1>

        <div class="form-group">
            <label for="organizers">Select organizer:</label>
            <select class="form-control" id="organizers" #selectedOrganizer>
                <option value="">Any</option>
              <option *ngFor="let organizer of organizers" [value]="organizer.id">{{ organizer.name }}</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="year">Select year:</label>
            <select class="form-control" id="year" #selectedYear>
                <option value="">Any</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="week">Select week:</label>
            <select class="form-control" id="week" #selectedWeek>
                <option value="">Any</option>
                <option *ngFor="let week of weeks; let index = index" [value]="index">Week {{ index }}</option>
            </select>
        </div>
 
        <button class="btn btn-stager mb-5"(click)="sortSales(selectedOrganizer.value, selectedYear.value, selectedWeek.value)">Show event sales</button>
    </div>

    <div class="col-md-6">
        <h1 class="text-center mb-3">Statistics</h1>
        <div *ngIf="!statistics" class="text-center mt-5 animated fadeIn">Hey, there's nothing to see here!</div>
        <div *ngIf="statistics" class="text-center animated fadeIn">
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width]="ticketsPercentage+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span *ngIf="ticketsPercentage != 0">{{ ticketsPercentage }}%</span></div>
            </div>
            <h1 class="mt-3">{{ ticketsSold }} <span class="tickets-expected">/ {{ ticketsExpected }}</span></h1>
        </div>
        <p class="mt-4">That's all fun and games, but just give me some <a href="#" routerLink="graphs">nice graphs</a>.</p>
    </div>
</div>
<br /> <br />

<h1 *ngIf="sortedSales" class="text-center mb-5 animated fadeIn">Events (per week)</h1>
<div class="row animated fadeIn">
    <div *ngFor="let sortedSale of sortedSales" class="col-md-4 mb-3">
        <div class="card animated fadeIn">
            <div class="card-body">
                <h4 class="card-title">Name: {{ organizers[sortedSale.organization-1].name }}</h4>
                <div class="card-text">Organization ID: {{ sortedSale.organization }}</div>
                <div class="card-text">Year: {{ sortedSale.year }}</div>
                <div class="card-text">Week: {{ sortedSale.week }}</div>
                <div class="card-text"><b>Tickets: {{ sortedSale.tickets }}</b></div>
            </div>
        </div>
    </div>
</div>